body{margin:0px;
	padding:0px;
	background-color:#999;
	color:#fff;
	font-family:arial;
}

.h1title{
	width:100%;
	height:50px;
	position:fixed;
	margin-top:0px;
	top:0px;
	left:0px;
	background-color:#000;
	background-image:url(Portadah1.jpg);
	background-size:300px 70px;
	background-position:1% center;
	background-repeat:no-repeat;
	color:#fff;
	text-align:center;
	padding:10px;
	font-size:30px;
	border:0px;
	z-index:20;
	box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
   
}
.h1title .botonmenu{
	background-image:url('menu_80837.png');
	background-size:90% 90%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#111;
	border-radius:6px;
	width:40px;
	height:40px;
	border:0px solid #999;
	position: absolute;
	right:calc(0px + 40px);
margin-top:5px;
	transition:all 200ms linear;
}
.h1title .botonmenu:hover{
	background-color:#555;
}


.listalinkp{
	font-size:14px;
	list-style-type: none;
	position: fixed;
	padding:0px; 
	margin: 0; 
	width:100%;
	top:70px;
	left:0px;
	display: flex;
	background-color:#333;
	color:#fff;
	overflow-y: auto;
	box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
	border-radius:0px 0px 10px 10px;
}
.listalinkp a{
	text-decoration:none;
	color:#fff;
}
li{color:#fff;
	padding:15px 5px;
}


#divflotvideoview{
	overflow-x: auto;
	position:fixed;
	margin-top:0px;
	top:76px;
	bottom:6px;
	left:4px;
	right:4px;
	padding:12px;
	background-color:#000;
	border-radius:3px;
	color:#fff;
	z-index:10;
}

#divflotvideoview .botoncerrardivvideo{
	background-image:url(cancel_969212.png);
	background-size:100% 100%;
	border-radius:100%;
	width:32px;
	height:32px;
	position: absolute;
	right:5px;
	top:5px;
	border:1px solid gray;
}

#divflotvideoview video{
	margin:0px;
	width:98%;
	border-radius:2px;
	display:inline-block;
}

#divflotvideoview h2{
	font-size:26px;
}

#divflotvideoview p{
	font-size:14px;
	color:#aaa;
}

.content{
	background-color:#444;
	padding:12px;
	margin:12px;
	margin-top:130px;
	border-radius:5px;
}

	form #q{
		width: calc(100% - 60px);
		text-align: center;
		padding: 5px 30px;
		border-radius:5px;
		border:1px solid gray;
		background-image:url('ic-search_97602.png');
		background-size:auto 70%;
		background-repeat:no-repeat;
		background-position:6px center;
		background-color:#222;
		color:#fff;
		font-size:14px;
		transition:all 200ms linear;
	}

form #q:hover{
		box-shadow: 0 0 6px 6px rgba(100, 100, 100, 0.7);

	
}


table .imgportadavideos, table video{
	max-height:100%;
	max-width:150px;
	width: 100%;
	border-radius:5px;
	display:inline-block;
}


	table tr{
		width: 100%;
		text-align:center;
		padding-bottom:10px;
			}

table th{
	font-size:12px;
	color:#fff;
}

table td{
	font-size:12px;
		padding-bottom:10px;
}

table td h2{
	margin: 0px;
	padding: 0px;
	font-size:16px;
}

	table,
	table tr,
	table tr th,
	table tr td{
		border-radius:8px;
		border-top:2px solid #88f;
		border-left: 3px solid #77e;
		border-right: 3px solid #77e;
border-bottom: 10px solid #66d;
	}

	table tr th,
	table tr td{
		padding: 5px 5px;
	}

table{margin-top:10px;
	max-width:100%;
	border:0px;
}

footer{
	width:100%;
	background-color:#111;
	padding:16px 0px;
	text-align: center;
	border-radius:10px 10px 0px 0px;
}

footer .boyonfootersocial{
	margin:0px 8px;
	width:40px;
	height:40px;
	border-radius: 100%;
	background-color:#666;
	background-size:100% 100%;
	border:0px;
	box-shadow: 0 0 6px 6px rgba(100, 100, 100, 0.7);

}
