body{margin:0px;
	padding:0px;
	background-color:#fff;
}

.h1title{
	width:100%;
	position:fixed;
	margin-top:0px;
	top:0px;
	left:0px;
	background-color:#000;
	color:#fff;
	text-align:center;
	padding:10px;
	font-size:30px;
}

.content{
	background-color:#ddd;
	padding:12px;
	margin:12px;
	margin-top:66px;
}

	form #q{
		width: 100%;
		text-align: center;
		padding: 5px 0px;
	}

table{
	max-width:100%;
}

table .imgportadavideos{
	max-height:15%;
	max-width:15%;
}


	table tr{
		width: 100%;
		text-align:center;
	}

	table,
	table tr,
	table tr th,
	table tr td{
		border: 1px solid lightgray;
		border-collapse: collapse;
	}

	table tr th,
	table tr td{
		padding: 5px 15px;
	}

