body{margin:0px;
	padding:0px;
	background-color:#ddd;
}

.h1title{
	width:100%;
	height:50px;
	position:fixed;
	margin-top:0px;
	top:0px;
	left:0px;
	background-color:#000;
	background-image:url(Portadah1.jpg);
	background-size:300px 70px;
	background-position:1% center;
	background-repeat:no-repeat;
	color:#fff;
	text-align:center;
	padding:10px;
	font-size:30px;
	border:0px;
}
.h1title .botonmenu{
	background-image:url('menu_80837.png');
	background-size:90% 90%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#111;
	border-radius:6px;
	width:40px;
	height:40px;
	border:0px solid #999;
	position: absolute;
	right:calc(0px + 40px);
margin-top:5px;
	transition:all 200ms linear;
}
.h1title .botonmenu:hover{
	background-color:#555;
}

.listalinkp{
	list-style-type: none;
	position: fixed;
	padding:6px; 
	margin: 0; 
	width:100%;
	top:70px;
	left:0px;
	display: flex;
	background-color:#333;
	color:#fff;
}
ul, li{
	margin:0px;
	padding:0px;
}


#divflotvideoview{
	overflow-x: auto;
	position:fixed;
	margin-top:0px;
	top:76px;
	bottom:6px;
	left:4px;
	right:4px;
	padding:12px;
	background-color:#000;
	border-radius:3px;
	color:#fff;
	z-index:10;
}

#divflotvideoview .botoncerrardivvideo{
	background-image:url(cancel_969212.png);
	background-size:100% 100%;
	border-radius:100%;
	width:32px;
	height:32px;
	position: absolute;
	right:5px;
	top:5px;
	border:1px solid gray;
}

#divflotvideoview video{
	margin:0px;
	width:98%;
	border-radius:2px;
	display:inline-block;
}

#divflotvideoview h2{
	font-size:26px;
}

#divflotvideoview p{
	font-size:14px;
	color:#aaa;
}

.content{
	background-color:#fff;
	padding:12px;
	margin:12px;
	margin-top:120px;
	border-radius:2px 2px 5px 5px;
}

	form #q{
		width: calc(100% - 60px);
		text-align: center;
		padding: 5px 30px;
		border-radius:5px;
		border:1px solid gray;
		background-image:url('ic-search_97602.png');
		background-size:auto 70%;
		background-repeat:no-repeat;
		background-position:6px center;
		font-size:14px;
	}

table{margin-top:5px;
	max-width:100%;
}

table .imgportadavideos, table video{
	max-height:100%;
	max-width:140px;
	width: 100%;
	border-radius:5px;
	display:inline-block;
}


	table tr{
		width: 100%;
		text-align:center;
	}

table th{
	font-size:12px;
	color:#444;
}

table td{
	font-size:12px;
}

table td h1{
	font-size:16px;
}

	table,
	table tr,
	table tr th,
	table tr td{
		border: 1px solid lightgray;
		border-collapse: collapse;
	}

	table tr th,
	table tr td{
		padding: 5px 15px;
	}

